@import url("../../global/form.css");

.login__links {
  display: flex;
  flex-direction: column;
  max-width: 215px;
}

.login__link {
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  margin-top: 5px;
}

.login__link:link {
  border-bottom: none;
}
