:root {
  --max-width-table: 1024px;
  --table-head-cell-text-size: 1rem;
}

.table-view {
  margin-inline: auto;
  max-width: var(--max-width-table);
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-table-view .mat-header-cell {
  text-align: center;
  font-size: var(--table-head-cell-text-size);
}

app-table-view .mat-cell {
  width: 150px;
  text-align: center;
  justify-content: center;
}

.table-image {
  max-width: 150px;
  height: 150px;
}

.table-pagination {
  display: block;
}

.anime-search {
  width: 100%;
}

app-table-view .table-column-type .mat-select-arrow-wrapper {
  display: none;
}

app-table-view .table-head-cell .mat-header-cell {
  text-align: center;
}

app-table-view .table-head-cell .mat-sort-header-container {
  justify-content: center;
}

app-table-view .table-column-type .mat-select-value {
  color: inherit;
}

.table-column-type__trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}
