<section class="table-view" [formGroup]="formQuery">
  <h2 id="anime-catalog" class="mat-title">Anime table</h2>

  <div class="table-container mat-elevation-z8">
    <mat-form-field class="anime-search" appearance="fill">
      <mat-label>Search anime</mat-label>
      <input
        matInput
        type="search"
        placeholder="Your anime title"
        formControlName="search"
      />
    </mat-form-field>

    <ng-container *ngIf="animeList$ | async as animeList; else loading">
      <ng-container *ngIf="sort$ | async as sort; else loading">
        <table
          mat-table
          matSort
          aria-describedby="anime-catalog"
          (matSortChange)="onSortChange($event)"
          [trackBy]="trackItemAnime"
          [matSortActive]="sort.field"
          [dataSource]="animeList.list"
          [matSortDirection]="sort.direction"
        >
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef class="table-head-cell">
              Image
            </th>
            <td mat-cell *matCellDef="let anime">
              <img
                class="table-image"
                alt="Poster anime - {{ anime.imageTitle }}"
                [src]="anime.image"
              />
            </td>
          </ng-container>

          <ng-container matColumnDef="title-english">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="table-head-cell"
              mat-sort-header="english"
            >
              Title in English
            </th>
            <td mat-cell *matCellDef="let anime">
              {{ anime.titleEnglish | placeholder }}
            </td>
          </ng-container>

          <ng-container matColumnDef="title-japanese">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="table-head-cell"
              mat-sort-header="japanese"
            >
              Title in Japanese
            </th>
            <td mat-cell *matCellDef="let anime">
              {{ anime.titleJapanese | placeholder }}
            </td>
          </ng-container>

          <ng-container matColumnDef="aired-start">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="table-head-cell"
              mat-sort-header="aired"
            >
              Start of airing
            </th>
            <td mat-cell *matCellDef="let anime">
              {{ anime.aired.start | airedDate | placeholder }}
            </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef class="table-column-type">
              <ng-container *ngIf="filterListByType$ | async as types">
                <mat-select formControlName="typeFilter" multiple>
                  <mat-select-trigger class="table-column-type__trigger">
                    Type <mat-icon>filter_alt</mat-icon>
                  </mat-select-trigger>
                  <mat-option
                    [value]="type.field"
                    *ngFor="let type of types; trackBy: trackItemType"
                  >
                    {{ type.title }}
                  </mat-option>
                </mat-select>
              </ng-container>
            </th>
            <td mat-cell *matCellDef="let anime">{{ anime.type }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="table-head-cell"
              mat-sort-header="status"
            >
              Status
            </th>
            <td mat-cell *matCellDef="let anime">{{ anime.status }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let anime; columns: displayedColumns"
            (click)="onDetailsShow(anime)"
          ></tr>
        </table>

        <mat-paginator
          class="table-pagination"
          aria-label="Select page"
          [pageSize]="pageSize"
          [length]="animeList.totalAnimeCount"
          [pageIndex]="currentPageNumber$ | async"
          (page)="onPaginationChange($event)"
        >
        </mat-paginator>
      </ng-container>
    </ng-container>
  </div>
</section>

<ng-template #loading>
  <div class="loading">
    <mat-spinner class="loading__spinner"></mat-spinner>
  </div>
</ng-template>
