<section class="table-view">
  <h2 id="anime-catalog" class="mat-title">Anime table</h2>
  <div class="table-container mat-elevation-z8">
    <mat-form-field class="anime-search" appearance="fill">
      <mat-label>Search anime</mat-label>
      <input
        matInput
        placeholder="Your anime title"
        [formControl]="search"
        type="search"
      />
    </mat-form-field>
    <ng-container *ngIf="animeList$ | async as animeList; else loading">
      <ng-container *ngIf="sort$ | async as sort; else loading">
        <table
          [trackBy]="trackItem"
          [dataSource]="animeList"
          mat-table
          matSort
          (matSortChange)="onSortChange($event)"
          [matSortActive]="sort.field"
          [matSortDirection]="sort.direction"
          aria-label="anime"
          aria-describedby="anime-catalog"
        >
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef class="table-head-cell">
              Image
            </th>
            <td mat-cell *matCellDef="let anime">
              <img
                class="table-image"
                [src]="anime.image"
                alt="Poster anime - {{ anime.imageTitle }}"
              />
            </td>
          </ng-container>

          <ng-container matColumnDef="title-english">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header="title_eng"
              class="table-head-cell"
            >
              Title in English
            </th>
            <td mat-cell *matCellDef="let anime">
              {{ anime.titleEnglish | placeholder }}
            </td>
          </ng-container>

          <ng-container matColumnDef="title-japanese">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header="title_jpn"
              class="table-head-cell"
            >
              Title in Japanese
            </th>
            <td mat-cell *matCellDef="let anime">
              {{ anime.titleJapanese | placeholder }}
            </td>
          </ng-container>

          <ng-container matColumnDef="aired-start">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header="aired"
              class="table-head-cell"
            >
              Start of airing
            </th>
            <td mat-cell *matCellDef="let anime">
              {{ anime.aired.start | date: "YYYY.MM.dd" | placeholder }}
            </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef class="table-column-type">
              <mat-select [formControl]="typeFilter" multiple>
                <mat-select-trigger class="table-column-type__trigger">
                  Type <mat-icon>filter_alt</mat-icon>
                </mat-select-trigger>
                <mat-option
                  [value]="filter.field"
                  *ngFor="let filter of filterListByType"
                  >{{ filter.title }}</mat-option
                >
              </mat-select>
            </th>
            <td mat-cell *matCellDef="let anime">{{ anime.type }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header="status"
              class="table-head-cell"
            >
              Status
            </th>
            <td mat-cell *matCellDef="let anime">{{ anime.status }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let anime; columns: displayedColumns"
            (click)="onDetailsShow(anime)"
          ></tr>
        </table>
      </ng-container>
    </ng-container>
    <mat-paginator
      [length]="animeListCount"
      [pageIndex]="currentPageNumber$ | async"
      [pageSize]="pageSize"
      (page)="onPaginationChange($event)"
      class="table-pagination"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</section>

<ng-template #loading>
  <div class="loading">
    <mat-spinner class="loading__spinner"></mat-spinner>
  </div>
</ng-template>
