:host {
  --max-width-table: 1024px;
}

.table-view {
  margin-inline: auto;
  max-width: var(--max-width-table);
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-image {
  max-width: 150px;
  height: 150px;
}

.table-pagination {
  display: block;
}

.anime-search {
  width: 100%;
}

.table-column-type__trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}
