<section *ngIf="animeList$ | async as animeList; else load" class="table-view">
  <div class="table-container mat-elevation-z8">
    <h2 id="anime-catalog" class="mat-title">Anime table</h2>

    <table
      [dataSource]="animeList"
      mat-table
      matSort
      (matSortChange)="handleSortChange($event)"
      [matSortActive]="sort.field"
      [matSortDirection]="sort.direction"
      aria-label="anime"
      aria-describedby="catalog-anime"
    >
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let anime">
          <img
            class="table-image"
            [src]="anime.image"
            alt="Poster anime - {{ anime.titleEnglish || 'no title' }}"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="title-english">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="title_eng">
          Title in English
        </th>
        <td mat-cell *matCellDef="let anime">
          {{ anime.titleEnglish || "-" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="title-japanese">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="title_jpn">
          Title in Japanese
        </th>
        <td mat-cell *matCellDef="let anime">
          {{ anime.titleJapanese || "-" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="aired-start">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="aired">
          Start of aired
        </th>
        <td mat-cell *matCellDef="let anime">
          {{ anime.aired.start | date: "YYYY.MM.dd" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>
          Type
          <button
            mat-icon-button
            [matMenuTriggerFor]="typeFilterMenu"
            type="button"
            aria-label="Filter by type selection menu"
          >
            <mat-icon>filter_alt</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let anime">{{ anime.type }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="status">
          Status
        </th>
        <td mat-cell *matCellDef="let anime">{{ anime.status }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="animeListCount"
      [pageIndex]="currentPage"
      [pageSize]="pageSize"
      (page)="handlePaginationChange($event)"
      class="table-pagination"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</section>

<ng-template #load>
  <div class="loading">
    <mat-spinner class="loading__spinner"></mat-spinner>
  </div>
</ng-template>

<mat-menu #typeFilterMenu="matMenu" (closed)="handleFilterChange()">
  <ul>
    <li *ngFor="let filter of filterListByType">
      <mat-checkbox [(ngModel)]="filter.selected" (click) = "$event.stopPropagation()" >{{
        filter.title
      }}</mat-checkbox>
    </li>
  </ul>
</mat-menu>
