@import url("@angular/material/prebuilt-themes/indigo-pink.css");

:root {
  --default-font-family: "Roboto", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

app-auth .form-field .mat-form-field-subscript-wrapper {
  position: relative;
}

app-auth .form-field.mat-form-field {
  display: block;
  margin-inline: auto;
}

app-auth .form-buttons__button.mat-stroked-button {
  min-width: 70%;
}

app-auth .form-list .mat-list-item-content {
  justify-content: center;
}

app-table-view .table-column-type .mat-select-arrow-wrapper {
  display: none;
}

app-table-view .mat-sort-header-container {
  justify-content: center;
}

app-table-view .table-column-type .mat-select-value {
  color: inherit;
}

app-table-view .mat-header-cell {
  text-align: center;
  font-size: 1rem;
}

app-table-view .mat-cell {
  width: 150px;
  text-align: center;
  justify-content: center;
}
