@import url("@angular/material/prebuilt-themes/indigo-pink.css");

app-table-view .table-column-type .mat-select-arrow-wrapper {
  display: none;
}

app-table-view .mat-sort-header-container {
  justify-content: center;
}

app-table-view .table-column-type .mat-select-value {
  color: inherit;
}

app-table-view .mat-header-cell {
  text-align: center;
  font-size: 1rem;
}

app-table-view .mat-cell {
  width: 150px;
  text-align: center;
  justify-content: center;
}
