@import url("../../global/form.css");
@import url("../../global/index.css");
@import url("../../global/variables.css");

.login {
  position: relative;
  margin: 80px auto;
  max-width: 215px;
  border: 1px solid var(--login-border-color);
  border-radius: 5px;
  padding: 25px;
}

.login__links {
  display: flex;
  flex-direction: column;
  max-width: 215px;
}

.login__link {
  text-align: center;
  font-size: 0.8em;
  margin-top: 5px;
}

.login__link:link {
  border-bottom: none;
}

.login__title {
  text-align: center;
}

.login-input,
.login-submit {
  height: 35px;
}

.login-element,
.login-submit {
  margin: 10px 0;
}
