.animeList {
  overflow-y: auto;
}

.animeCatalogTitle {
  letter-spacing: 0.15rem;
}

.animeCatalog {
  display: flex;
  flex-direction: column;
  max-height: var(--content-height);
  min-width: 360px;
  max-width: 400px;
}
