.animeList {
  overflow-y: auto;
}

.animeCatalogTitle {
  letter-spacing: 0.15rem;
}

.animeCatalog {
  display: flex;
  flex-direction: column;
  max-height: var(--anime-list-height);
  max-width: 420px;
}
