@import url("../global/index.css");

.title {
  color: var(--heading-color-1);
}

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__table {
  display: flex;
  max-width: 960px;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
}

.catalog__table tr > td,
.catalog__table tr > th {
  text-align: center;
  width: 160px;
}

.catalog__table td > img {
  width: 160px;
  height: 160px;
}
