<form
  class="auth-form mat-elevation-z8"
  [formGroup]="loginForm"
  (submit)="handleFormSubmit()"
>
  <header class="form-header">
    <h1 class="auth-form__heading mat-headline">Log In</h1>
  </header>

  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      formControlName="email"
      type="email"
      autocomplete="email"
    />
    <mat-error *ngIf="loginForm.controls.email.hasError('email')">
      {{ loginForm.controls.email.getError("email") }}
    </mat-error>
  </mat-form-field>
  
  <app-password-input
    label="Enter your password"
    [control]="loginForm.controls.password"
  >
    <mat-error *ngIf="loginForm.controls.password.hasError('password')">
      {{ loginForm.controls.password.getError("password") }}
    </mat-error>
  </app-password-input>

  <div class="form-buttons">
    <button class="form-buttons__button" mat-stroked-button type="submit">
      Login
    </button>
  </div>

  <mat-list class="form-list" role="list">
    <mat-list-item role="listitem">
      <a class="link" mat-button href="#">Forgot your password?</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a class="link" mat-button [routerLink]="'/auth/registration/'"
        >Don't have an account?</a
      >
    </mat-list-item>
  </mat-list>
</form>
