.auth-form {
  max-width: 320px;
  margin-top: 90px;
  margin-inline: auto;
}

.auth-form__heading {
  padding-top: 10px;
  text-align: center;
}

.form-field.mat-form-field {
  display: block;
  margin-inline: auto;
}

.form-buttons {
  display: flex;
  justify-content: center;
}

.form-buttons__button.mat-stroked-button {
  min-width: 70%;
}

.form-list .mat-list-item-content {
  justify-content: center;
}
