a,
:link,
.link {
  --link-color: var(--primary-color);

  color: var(--link-color);
  text-decoration: none;
}

a:hover,
:link:hover,
.link:hover {
  --link-color: var(--primary-light-color);

  text-decoration: underline var(--primary-light-color);
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.link:focus {
  text-decoration: underline var(--primary-light-color);
  outline: 0;
}

.page {
  margin: 0;
  padding: 0;
}

.error {
  color: #ee4a4a;
  font-size: 0.7em;
}
