a,
:link,
.link {
  --link-color: var(--primary-color);

  color: var(--link-color);
  text-decoration: none;
}

a:hover,
:link:hover,
.link:hover {
  --link-color: var(--primary-light-color);

  text-decoration: underline var(--primary-light-color);
}

/* TO-DO add all colors to variables */
a:focus {
  outline: 1px solid#faa527;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.page__body {
  margin: 0;
  padding: 0;
}
