@import url("../global/index.css");

/* TO-DO add all colors to variables */
.form {
  display: flex;
  flex-direction: column;
  background: #fff;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.form__label-text {
  font-size: 0.7em;
  color: #686868;
  padding-left: 10px;
}

.form__input {
  background: none;
  border: none;
  color: #686868;
  font-size: 0.85em;
  padding-left: 10px;
  border-bottom: 2px solid #686868;
  min-height: 35px;
}

.form__button {
  background: none;
  background-color: #f5f5f5;
  border: 1px solid #686868;
  border-radius: 5px;
  cursor: pointer;
  color: #686868;
  font-size: 0.85em;
  min-height: 35px;
  margin: 10px 0;
}

.form__button:hover {
  background: #fff;
  color: #faa527;
  border-color: #faa527;
}

.form__input:focus {
  border-bottom: 2px solid #faa527;
  outline: 0;
}

.form__button:focus {
  border: 2px solid #faa527;
  outline: 2px solid #faa527;
}

.form__title {
  text-align: center;
}

.form__links {
  display: flex;
  flex-direction: column;
  max-width: 215px;
}

.form__link {
  text-align: center;
  font-size: 0.8em;
  margin-top: 5px;
}

.form__link:link {
  border-bottom: none;
}
