@import url("../global/index.css");

/* TO-DO add all colors to variables */
.form {
  display: flex;
  flex-direction: column;
  background: #fff;
}

.form__label {
  display: flex;
  flex-direction: column;
}

.form__label-text {
  font-size: 0.9em;
}

.form__input {
  background: none;
  border: 1px solid #686868;
  border-radius: 5px;
  color: #686868;
  font-size: 0.85em;
  padding-left: 10px;
}

.form__button {
  background: none;
  background-color: #f5f5f5;
  border: 1px solid #686868;
  border-radius: 5px;
  cursor: pointer;
  color: #686868;
  font-size: 0.85em;
}

.form__button:hover {
  background: #fff;
  color: #faa527;
  border-color: #faa527;
}

.form__input:focus,
.form__button:focus {
  border: 1px solid #faa527;
  outline: 1px solid #faa527;
}
