:root {
  --heading-color-1: #ffd700;
  --heading-color-2: #e9967a;
  --heading-color-3: #b0e0e6;
  --btn-current-color: #ffcf48;
  --btn-current-border-color-hover: #ffcf48;
  --border-color: #dbd7d2;
  --border-color-hover: #ffcf48;
  --table-row-border-button-color: #ddd;
  --pagination-btn-font-size: 1.5rem;
  --login-border-color: #d4d4d4;
}
