.details {
  margin-top: 50px;
  margin-inline: auto;
  max-width: 960px;
}

.details__card {
  display: flex;
}

.detail__info {
  margin-top: 20px;
  margin-left: 20px;
}

.details__image {
  max-width: 360px;
}

.details__trailer {
  width: 360px;
  height: 300px;
  border: none;
}

.details-field {
  margin-block: 20px;
}
