<ng-container *ngIf="anime$ | async as anime">
  <app-image-popup></app-image-popup>
  <section class="details">
    <div class="details__section">
      <h2 class="mat-title">Anime details</h2>
      <mat-card class="details__card">
        <div class="details__actions">
          <button
            type="button"
            class="empty-button"
            (click)="openImagePopup(anime.image, anime.imageTitle)"
          >
            <img
              class="details__image"
              [src]="anime.image"
              alt="Poster anime - {{ anime.imageTitle }}"
            />
          </button>
          <ng-container *ngIf="trailerUrl$ | async as url">
            <iframe
              *ngIf="anime.trailerYoutubeId"
              [src]="url"
              title="Anime trailer"
              class="details__trailer"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </ng-container>
        </div>
        <div class="details__info">
          <mat-card-title-group>
            <mat-card-title>
              {{ anime.titleEnglish | placeholder }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ anime.titleJapanese | placeholder }}
            </mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content>
            <p class="details__field">
              Aired from
              {{ anime.aired.start | airedDate | placeholder }} to
              {{ anime.aired.end | airedDate | placeholder }}
            </p>
            <p class="details__field">
              Airing:
              <mat-chip>
                {{ anime.isAiring ? "Yes" : "No" }}
              </mat-chip>
            </p>
            <p class="details__field">
              Type:
              <mat-chip>
                {{ anime.type }}
              </mat-chip>
            </p>
            <p class="details__field">
              {{ anime.synopsis }}
            </p>
            <div class="details__field">
              <mat-label>Genres</mat-label>
              <mat-chip-list aria-label="List of genres">
                <mat-chip
                  *ngFor="
                    let genre of anime.genresData;
                    trackBy: trackItemGenre
                  "
                >
                  {{ genre.name }}
                </mat-chip>
              </mat-chip-list>
            </div>
            <div class="details__field">
              <mat-label>Studios</mat-label>
              <mat-chip-list aria-label="List of studios">
                <mat-chip
                  *ngFor="
                    let studio of anime.studiosData;
                    trackBy: trackItemStudio
                  "
                >
                  {{ studio.name }}
                </mat-chip>
              </mat-chip-list>
            </div>
          </mat-card-content>
        </div>

        <mat-card-actions>
          <a mat-button [routerLink]="'/editor/' + anime.id"> Edit </a>
          <button
            type="button"
            mat-button
            type="button"
            (click)="onDeleteAnime(anime.id)"
          >
            Delete
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</ng-container>
