<p>editor works!</p>

<ng-container *ngIf="genres$ | async as genres">
  <div class="editor-field">
    <mat-label>Genres</mat-label>
    <mat-chip-list aria-label="List of genres">
      <mat-chip *ngFor="let genre of genres">
        {{ genre.name }}
      </mat-chip>
    </mat-chip-list>
  </div>
</ng-container>

<ng-container *ngIf="studios$ | async as studios">
  <div class="editor-field">
    <mat-label>Studios</mat-label>
    <mat-chip-list aria-label="List of studios">
      <mat-chip *ngFor="let studio of studios">
        {{ studio.name }}
      </mat-chip>
    </mat-chip-list>
  </div>
</ng-container>

