<form class="editor" [formGroup]="animeForm" (ngSubmit)="onFormSubmit()">

  <ng-container *ngIf="imagePreview$ | async as imageUrl">
    <img [src]="imageUrl" alt="Poster preview">
  </ng-container>

  <mat-form-field appearance="fill">
    <ngx-mat-file-input
      formControlName="image"
      [accept]="'image/png, image/jpeg'"
      color="primary"
    >
      <mat-icon ngxMatFileInputIcon>folder</mat-icon>
    </ngx-mat-file-input>
  </mat-form-field>

  <mat-form-field class="editor-field" appearance="fill">
    <mat-label>Enter trailer youtube id</mat-label>
    <input
      matInput
      placeholder="1dy2zPPrKD0"
      formControlName="trailerYoutubeId"
    />
  </mat-form-field>

  <mat-form-field class="editor-field" appearance="fill">
    <mat-label>Title in English</mat-label>
    <input
      matInput
      placeholder="Naruto Shippuden"
      formControlName="titleEnglish"
    />
  </mat-form-field>

  <mat-form-field class="editor-field" appearance="fill">
    <mat-label>Title in Japanese</mat-label>
    <input
      matInput
      placeholder="ナルト- 疾風伝"
      formControlName="titleJapanese"
    />
  </mat-form-field>

  <app-select
    class="editor-field"
    label="Anime type"
    [collection]="types"
    [selectControl]="animeForm.controls.type"
  ></app-select>

  <app-select
    class="editor-field"
    label="Anime status"
    [collection]="statuses"
    [selectControl]="animeForm.controls.status"
  ></app-select>

  <app-select
    class="editor-field"
    label="Anime sources"
    [collection]="sources"
    [selectControl]="animeForm.controls.source"
  ></app-select>

  <mat-slide-toggle class="editor-field" formControlName="isAiring">
    Airing
  </mat-slide-toggle>

  <mat-form-field class="editor-field" appearance="fill">
    <mat-label>Anime airing</mat-label>
    <mat-date-range-input
      [rangePicker]="airedPicker"
      [comparisonStart]="animeForm.value.airedStartDate"
      [comparisonEnd]="animeForm.value.airedEndDate"
    >
      <input
        matStartDate
        placeholder="Start date"
        formControlName="airedStartDate"
      />
      <input matEndDate placeholder="End date" formControlName="airedEndDate" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle
      matSuffix
      [for]="airedPicker"
    ></mat-datepicker-toggle>
    <mat-date-range-picker #airedPicker></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field class="editor-field" appearance="fill">
    <mat-label>Synopsis</mat-label>
    <textarea
      matInput
      placeholder="Anime about ..."
      formControlName="synopsis"
    ></textarea>
  </mat-form-field>

  <ng-container *ngIf="genres$ | async as genres">
    <app-select
      class="editor-field"
      label="Genres"
      placeholder="Select genres"
      [collection]="genres"
      [isMultiple]="true"
      [selectControl]="animeForm.controls.genres"
    ></app-select>
  </ng-container>

  <ng-container *ngIf="studios$ | async as studios">
    <app-select
      class="editor-field"
      label="Studios"
      placeholder="Select studios"
      [collection]="studios"
      [isMultiple]="true"
      [selectControl]="animeForm.controls.studios"
    ></app-select>
  </ng-container>

  <app-select
    class="editor-field"
    label="Anime season"
    [collection]="seasons"
    [selectControl]="animeForm.controls.season"
  ></app-select>

  <app-select
    class="editor-field"
    label="Anime rating"
    [collection]="ratings"
    [selectControl]="animeForm.controls.rating"
  ></app-select>

  <button mat-stroked-button type="submit">Create a new anime entry</button>
</form>
