<mat-form-field class="form-field" appearance="fill">
  <mat-label>{{ label }}</mat-label>

  <input
    matInput
    [type]="isHiddenPassword ? 'password' : 'text'"
    [formControl]="control"
    autocomplete="current-password"
  />
  <button
    mat-icon-button
    matSuffix
    type="button"
    (click)="handlePasswordToggle()"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="isHiddenPassword"
  >
    <mat-icon>{{
      isHiddenPassword ? "visibility_off" : "visibility"
    }}</mat-icon>
  </button>

  <mat-error *ngIf="this.control.hasError('password')">
    <ul>
      <li *ngFor="let error of this.control.getError('password')">
        {{ error }}
      </li>
    </ul>
  </mat-error>

  <mat-error *ngIf="this.control.hasError('match')">
    {{ this.control.getError('match') }}
  </mat-error>
  
  <mat-hint class="form-hint">
    <ng-content></ng-content>
  </mat-hint>
</mat-form-field>
