<mat-form-field class="form-field" appearance="fill">
  <mat-label>{{ label }}</mat-label>

  <input
    matInput
    [type]="isPasswordHidden ? 'password' : 'text'"
    [formControl]="control"
    autocomplete="current-password"
  />
  <button
    mat-icon-button
    matSuffix
    type="button"
    (click)="onPasswordToggle()"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="isPasswordHidden"
  >
    <mat-icon>
      {{ isPasswordHidden ? "visibility_off" : "visibility" }}
    </mat-icon>
  </button>

  <mat-error *ngIf="control.hasError('password')">
    <ul>
      <li *ngFor="let error of control.getError('password')">
        {{ error }}
      </li>
    </ul>
  </mat-error>

  <mat-error *ngIf="control.hasError('match')">
    {{ control.getError("match") }}
  </mat-error>

  <mat-hint class="form-hint">
    <ng-content></ng-content>
  </mat-hint>
</mat-form-field>
