.cardContent {
  display: flex;
}

.cardContent .posterButton {
  min-width: auto;
}

.poster {
  max-width: 360px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list .listItem {
  width: auto;
}
