.cardContent {
  display: flex;
}

.cardTrailer {
  padding: 6px 8px;
  max-width: 360px;
}

.trailer {
  max-width: 360px;
}

.cardContent .posterButton {
  min-width: auto;
  max-height: 500px;
}

.poster {
  max-width: 260px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list .listItem {
  width: auto;
}
