<mat-card class="editor__container">
  <ng-template let-error let-text="text" #tpl>
    <span class="control-error">{{ text }}</span>
  </ng-template>

  <ng-container *ngIf="genres$ | async as genres; else loading">
    <ng-container *ngIf="studios$ | async as studios; else loading">
      <ng-container *ngIf="types$ | async as types; else loading">
        <ng-container *ngIf="statuses$ | async as statuses; else loading">
          <ng-container *ngIf="seasons$ | async as seasons; else loading">
            <ng-container *ngIf="ratings$ | async as ratings; else loading">
              <ng-container *ngIf="sources$ | async as sources; else loading">
                <form
                  class="editor"
                  [formGroup]="animeForm"
                  (ngSubmit)="onFormSubmit()"
                >
                  <mat-card-title>
                    <h1 class="mat-headline editor__container">Anime editor</h1>
                  </mat-card-title>

                  <mat-divider class="editor__divider"></mat-divider>

                  <mat-card-subtitle>
                    <h2 class="mat-title">Base information</h2>
                  </mat-card-subtitle>

                  <mat-card-content class="base-information">
                    <ng-container *ngIf="posterPreview$ | async as posterUrl">
                      <img
                        class="base-information__image"
                        [src]="posterUrl"
                        alt="Poster preview"
                      />
                    </ng-container>

                    <mat-form-field appearance="fill">
                      <ngx-mat-file-input
                        formControlName="poster"
                        [accept]="'image/png, image/jpeg'"
                        color="primary"
                      >
                        <mat-icon ngxMatFileInputIcon>folder</mat-icon>
                      </ngx-mat-file-input>
                    </mat-form-field>

                    <div class="base-information__input-fields">
                      <mat-form-field
                        class="base-information__field"
                        appearance="fill"
                      >
                        <mat-label>Enter trailer youtube id</mat-label>
                        <input
                          matInput
                          placeholder="1dy2zPPrKD0"
                          formControlName="trailerYoutubeId"
                        />
                      </mat-form-field>

                      <mat-form-field
                        class="base-information__field"
                        appearance="fill"
                      >
                        <mat-label>Title in English</mat-label>
                        <input
                          matInput
                          placeholder="Naruto Shippuden"
                          formControlName="titleEnglish"
                        />
                      </mat-form-field>

                      <mat-form-field
                        class="base-information__field"
                        appearance="fill"
                      >
                        <mat-label>Title in Japanese</mat-label>
                        <input
                          matInput
                          placeholder="ナルト- 疾風伝"
                          formControlName="titleJapanese"
                        />
                      </mat-form-field>
                    </div>

                    <mat-form-field
                      class="base-information__field"
                      appearance="fill"
                    >
                      <mat-label>Synopsis</mat-label>
                      <textarea
                        matInput
                        placeholder="Anime about ..."
                        formControlName="synopsis"
                        class="synopsis"
                      ></textarea>
                    </mat-form-field>
                  </mat-card-content>

                  <mat-divider class="editor__divider"></mat-divider>

                  <mat-card-subtitle>
                    <h2 class="mat-title">Status information</h2>
                  </mat-card-subtitle>

                  <mat-card-content class="status-information">
                    <div class="status-information__select-fields">
                      <mat-form-field
                        appearance="fill"
                        class="status-information__field"
                      >
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="type">
                          <mat-option *ngFor="let type of types" [value]="type">
                            {{ type }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field
                        appearance="fill"
                        class="status-information__field"
                      >
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status">
                          <mat-option
                            *ngFor="let status of statuses"
                            [value]="status"
                          >
                            {{ status }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field
                        appearance="fill"
                        class="status-information__field"
                      >
                        <mat-label>Sources</mat-label>
                        <mat-select formControlName="source">
                          <mat-option
                            *ngFor="let source of sources"
                            [value]="source"
                          >
                            {{ source }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field
                        appearance="fill"
                        class="status-information__field"
                      >
                        <mat-label>Season</mat-label>
                        <mat-select formControlName="season">
                          <mat-option
                            *ngFor="let season of seasons"
                            [value]="season"
                          >
                            {{ season }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field
                        appearance="fill"
                        class="status-information__field"
                      >
                        <mat-label>Rating</mat-label>
                        <mat-select formControlName="rating">
                          <mat-option
                            *ngFor="let rating of ratings"
                            [value]="rating"
                          >
                            {{ rating }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="status-information__aired-fields">
                      <mat-form-field
                        class="status-information__field"
                        appearance="fill"
                      >
                        <mat-label>Anime airing</mat-label>
                        <mat-date-range-input
                          [rangePicker]="airedPicker"
                          [formGroup]="animeForm.controls.aired"
                        >
                          <input
                            matStartDate
                            placeholder="Start date"
                            formControlName="start"
                          />
                          <input
                            matEndDate
                            placeholder="End date"
                            formControlName="end"
                          />
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="airedPicker"
                        ></mat-datepicker-toggle>
                        <mat-date-range-picker
                          #airedPicker
                        ></mat-date-range-picker>
                      </mat-form-field>
                      <mat-slide-toggle
                        class="status-information__field"
                        formControlName="isAiring"
                      >
                        Airing
                      </mat-slide-toggle>
                    </div>
                  </mat-card-content>

                  <mat-divider class="editor__divider"></mat-divider>

                  <mat-card-subtitle>
                    <h2 class="mat-title">More information</h2>
                  </mat-card-subtitle>

                  <mat-card-content class="more-information">
                    <mat-form-field appearance="fill">
                      <mat-label>Genres</mat-label>
                      <mat-select formControlName="genres" multiple>
                        <mat-option>
                          <ngx-mat-select-search
                            placeholderLabel="Find genres..."
                            formControlName="genresSearch"
                          ></ngx-mat-select-search>
                        </mat-option>

                        <ng-container *ngIf="genres.length === 0">
                          <button
                            mat-stroked-button
                            type="button"
                            (click)="onCreateGenre()"
                          >
                            Create genre
                          </button>
                        </ng-container>

                        <mat-option
                          *ngFor="let genre of genres"
                          [value]="genre.id"
                          class="ttt"
                        >
                          <span>{{ genre.name }}</span>
                          <button
                            mat-button
                            type="button"
                            click-stop-propagation
                            (click)="onRemoveGenre(genre.id)"
                          >
                            <mat-icon> delete </mat-icon>
                          </button>
                        </mat-option>

                        <ng-container
                          *ngIf="
                            isNotSearch(
                              this.animeForm.controls.genresSearch.value
                            )
                          "
                        >
                          <button
                            mat-stroked-button
                            type="button"
                            (click)="onMoreGenres()"
                          >
                            Add more genres
                          </button>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                      <mat-label>Studios</mat-label>
                      <mat-select formControlName="studios" multiple>
                        <mat-option>
                          <ngx-mat-select-search
                            placeholderLabel="Find studios..."
                            formControlName="studiosSearch"
                          ></ngx-mat-select-search>
                        </mat-option>

                        <ng-container *ngIf="studios.length === 0">
                          <button
                            mat-stroked-button
                            type="button"
                            (click)="onCreateStudio()"
                          >
                            Create studio
                          </button>
                        </ng-container>

                        <mat-option
                          *ngFor="let studio of studios"
                          [value]="studio.id"
                          class="ttt"
                        >
                          <span>{{ studio.name }}</span>
                          <button
                            mat-button
                            type="button"
                            click-stop-propagation
                            (click)="onRemoveStudio(studio.id)"
                          >
                            <mat-icon> delete </mat-icon>
                          </button>
                        </mat-option>

                        <ng-container
                          *ngIf="
                            isNotSearch(
                              this.animeForm.controls.studiosSearch.value
                            )
                          "
                        >
                          <button
                            mat-stroked-button
                            type="button"
                            (click)="onMoreStudios()"
                          >
                            Add more studio
                          </button>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>
                  </mat-card-content>

                  <mat-divider></mat-divider>

                  <mat-card-actions class="editor__container buttons">
                    <button mat-stroked-button type="submit">
                      Create a new anime entry
                    </button>
                  </mat-card-actions>
                </form>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</mat-card>

<ng-template #loading>
  <div class="loading">
    <mat-spinner class="loading__spinner"></mat-spinner>
  </div>
</ng-template>
